.actions-list {
  &__header {
    background: $light-grey;
    border: 1px solid darken($light-grey, 7%);
    color: $text-grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
  }

  &__item {
    border: 1px solid darken($light-grey, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    text-decoration: none;

    @media (min-width: $desktop-breakpoint) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: $s-size;
    }
  }
}