.box-layout {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &__box {
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
  }

  &__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
  }
}