.button-group {

  .button {
    margin-right: $s-size;
  }

  &--block {
    .button {
      display: block;
      margin: 0 0 $s-size;
      width: 100%;
    }
  }
}

.button {
  background: $blue;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

}

.button--primary {
  background: $brand-primary;
  &:hover, &.active {
    background: darken($brand-primary, 40%);
  }
}

.button--secondary {
  background: $brand-secondary;
  &:hover, &.active {
    background: darken($brand-secondary, 40%);
  }
}

.button--link {
  background: transparent;
}
