.character-list__header {
  border-bottom: 1px solid grey;
  margin-bottom: $s-size;
  padding-bottom: $s-size;
}

.character-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  &__item {
    align-items: center;
    border: 1px solid $grey;
    border-radius: 5px;
    box-shadow: 0 0 10px $grey, 10px 10px 15px $light-grey;
    color: $text-grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: $s-size;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background: $light-grey;
    }
  }
}

.character-list-item-rank,
.character-list-item-info {
  display: inline-block;
  vertical-align: center;
}

.character-list-item-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
   & > div {
     margin: 0 $s-size;
     min-width: 20rem;
   }
}