.character {
  align-items: flex-start;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: $s-size;
  display: flex;

  &__name {
    border-bottom: 1px solid $grey;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: $s-size;
    padding-bottom: $s-size;
  }

  &__description {
    white-space: pre-line;
  }
}

.character-role {
  &__label {
    margin: 0;
    max-width: 200px;
  }
}

.character-portrait,
.character-data {
  display: inline-block;
}

.character-portrait {
  background: $character-portrait-bg;
  border: 2px solid $brand-primary;
  border-radius: 5px;
  color: $character-portrait-text;
  flex-shrink: 1;
  margin-right: $m-size;
  text-align: center;

  @media screen and (min-width: $desktop-breakpoint) {
    max-width: 200px;
  }

  &__image {
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
  }
}

.character-data {
 flex-grow: 1;

  &__header {
    margin-bottom: $s-size;
  }
}

.character-biography {
  &__content {
    white-space: pre-line;
  }
}

.character-experience {

  &__label {
    padding: $s-size $s-size 0;
    margin: 0;
  }
  &__bar {
    width: 100%;
    max-width: 200px;
    padding: 0 $s-size $s-size;
    position: relative;

    .react-sweet-progress-line-inner {
      background-color: red !important;
    }

    .react-sweet-progress-symbol {
      color: $character-portrait-text;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -75%);
    }
  }
}

.character-bio,
.character-attributes,
.character-inventory {
  display: inline-block;
  min-width: 45%;
  max-width: 100% ;
  vertical-align: top;

  &:not(:last-of-type) {
    margin-right: $s-size;
  }

  &--header {
    @extend .list-header;
    background: $brand-primary;
    color: #fff;
    margin-bottom: 0;
  }

  &-item {
    @extend .list-item;

    &:nth-child(odd) {
      background-color: $light-grey;
    }

    &:hover {
      background: none;
    }
  }
}
