.content-container-group {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
    flex-wrap: nowrap;

    .content-container {
      padding: 0 $s-size 0 0;
      flex-grow: 1;

      &--sidebar {
        flex-grow: 0
      }
    }
  }
}

.content-container {
  margin: 0 auto;
  max-width: 75vw;
  min-width: 25%;
  padding: 0 $m-size;

  &--fluid {
    max-width: 100vw;
  }

  &--sidebar {
    max-width: 30%;
    margin: 0;
  }
}
