.header {
  background: $header-bg;

  &__title {
    color: $header-bg-text;
    text-decoration: none;

    h1 {
      margin: 0;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
  }
}