label {
  height: 48px;
  font-weight: 700;
  padding: $s-size 0;
}

input, select, textarea, .input-group__add-on {
  border: 1px solid #cacccd;
  font-size: $font-size-large;
  font-weight: 300;
  height: 48px;
  padding: $s-size;
}

textarea {
  height: 10rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: $s-size 0;
  width: 100%;

  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }

  &--inline {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    input {
      width: auto;
    }
  }

  &--add-on-group {
    border: 1px solid $brand-primary;
    border-radius: 5px;
    .input-group__add-on, .input-group__control {
      border: none;
      margin-right: 0;
      margin-left: 0;
      min-width: 5rem;
    }
  }
}

.input-group__control {
  margin-bottom: $s-size;
  margin-right: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
    width: 100%;
  }

  &--numeric {
    text-align: center;
    width: 5rem !important;
  }
}

.help-block {
  padding: $s-size;
  display: block;
  margin: 0;
  font-size: 1.2rem;
}

.text-input--header {
  border: 0;
  border-bottom: 1px solid $brand-primary;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: $m-size;
  width: 100%;
}

.textarea--block {
  border-color: $brand-primary;
  border-radius: 5px;
  height: 30rem;
  resize: vertical;
  width: 100%;
}

.toggle-check-input {
  width: 1px;
  height: 1px;
  position: absolute;

  &:checked ~ .toggle-check-text {
    background: $brand-primary;
    padding-left: 0.5em;
    padding-right: 2em;
  }

  &:checked ~ .toggle-check-text:before {
    content: 'Yes';
  }

  &:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.4em;
  }
}

.toggle-check-text {
  background: $brand-secondary;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 $s-size;
  min-width: 5em;
  padding: 0.05em 0.5em 0.05em 2em;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.15s;

  &:after {
    content: ' ';
    display: block;
    background: #fff;
    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    position: absolute;
    left: 0.3em;
    top: 0.25em;
    transition: left 0.15s, margin-left 0.15s;
  }

  &:before {
    content: 'No';
  }
}

.player-select__control,
.css-10nd86i {
  width: 100%;
}
