.news-article {

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lighten($brand-primary, 50%);
    border-radius: 5px;
    margin-bottom: $m-size;
    padding: $s-size / 2;
  }

  &__avatar {
    background: $light-grey;
    border-radius: 50%;
    display: inline-block;
    height: 5rem;
    margin-right: $m-size;
    width: 5rem;
  }

  &__by-line {
    display: inline-block;
    p {
      font-size: 0.8em;
      line-height: 1.5em;
      margin: 0;
      padding: 0;
    }
  }

  &__body {
    white-space: pre-line;
  }
}