.news-list {
  margin: $s-size 0;

  &__header {
    border-bottom: 1px solid $news-list-border;
  }
}

.news-item {
  border-bottom: 1px solid $news-list-border;
  margin: $m-size 0;

  &__header {
    margin: 0 0 $s-size 0;
    border-bottom: 1px solid $light-grey;
    padding-bottom: $s-size;
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__meta {
    color: $grey;
    font-style: italic;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }

  &__body {
    white-space: pre-wrap;

    a {
      color: $brand-primary;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $brand-secondary;
      }
    }
  }

  &__footer {
    border-top: 1px solid $light-grey;
    margin-top: $s-size;
    padding-top: $s-size;
  }
}


.news-item--compact {
  background: $light-grey;
  border-radius: 5px;
  color: $text-grey;
  display: block;
  padding: $s-size / 2;
  margin: $s-size 0;
  text-decoration: none;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: $grey;
    color: #fff;
  }

  &:nth-child(odd) {
    background: lighten($brand-primary, 50%);
    color: $text-grey;

    &:hover {
      background: lighten($brand-primary, 40%);
    }
  }

  .news-item__title {
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1.4em;
  }

  .news-item__meta {
    color: inherit;
    margin-left: $l-size;
  }
}
