.page-header {
  background: $light-grey;
  margin-bottom: $l-size;
  padding: $l-size 0;

  &--nav {
    margin-bottom: 0;
  }

  &__title {
    font-weight: 300;
    margin: 0;

    span {
      font-weight: bold;
    }
  }

  &__actions {
    margin-top: $m-size;

    .button {
      margin: 0 $s-size 0 0;
      min-width: 15rem;
      text-align: center;
    }
  }
}