.tag-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
    position: relative;
  }
  &--compact {
    border: 1px solid $brand-primary;
    border-radius: 5px;
    background: lighten($brand-primary, 50%);
    margin: 3px 0;
    padding: 0 4px;
  }
}

.tag-list__tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;

  &:before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  &:after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background: $brand-primary;
    color: #fff;

    &::after {
      border-left-color: $brand-primary;
    }
  }

  &--text {
    border-right: 1px solid $text-grey;
    margin-right: $s-size / 2;
    padding-right: $s-size / 2;
    font-size: 1.1rem;

    &:last-of-type {
      border: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
}
