* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6em;
}

main {
  padding-top: $s-size !important;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.empty-list-message {
  color: $grey;
  text-align: center;
  font-style: italic;
}

/* POSITIONING */
.center-content-hz {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
  overflow: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* TYPOGRAPHY */
.bold, .is-active {
  font-weight: 700;
}

.italicize {
  font-style: italic;
}

.humanize {
  display: inline;
  text-transform: capitalize;
}