// Colors
$blue: #1c88bf;
$dark-blue: #364051;
$dark-grey: #333333;
$grey: #888888;
$light-grey: #f7f7f7;
$text-grey: #666;

$brand-primary: $blue;
$brand-secondary: $grey;

$body-bg: #fff;
$header-bg: $brand-primary;
$header-bg-text: #fff;

$news-list-border: $light-grey;

$character-portrait-bg: $grey;
$character-portrait-text: #fff;

$tag-bg-color: $brand-primary;
$tag-text-color: $light-grey;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;